<div class="myDiv">
    <div (click)="showThisPanel('showPanelOphomePage')">home</div>
    <!-- <div (click)="showThisPanel('showPanelOpLogin')">login</div> -->
    <div (click)="showThisPanel('showPanelOpUsers')">users</div> 
    <div (click)="showThisPanel('showPanelOpAlbums')">albums</div>

    <div (click)="showThisPanel('showPanelOpComments')">comments</div>
    <div (click)="showThisPanel('showPanelOpPhotos')">photos</div>
    <div (click)="showThisPanel('showPanelOpTodos')">todos</div>
    <div (click)="showThisPanel('showPanelOpPosts')">posts</div>
    <div (click)="showThisPanel('family-page')">family-page</div>
</div>

